<app-menu></app-menu> 
<a routerLink="/requestlines/create">Create</a> |
<Label>Requestline List </Label> 
        <div class="component">
        <table class="table table-sm">
            <tr>
                <th>Description</th>
                <th>Status</th>
                <th>Total</th>
                <th>User</th>
            </tr>

            <tr>
                <td>{{request.description}}</td>
                <td>{{request.status}}</td>
                <td>{{request.total}}</td>
                <td>{{request.user.username}}</td>
            </tr>
        </table>
    <table class="table table-sm">
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
            <th>Actions</th>
        </tr>
        <tr *ngFor="let rl of request.requestLines">
                <td>{{rl.product.name}}</td>
                <td>{{rl.quantity}}</td>
                <td>{{rl.product.price}}</td>
                <td>{{rl.product.price*rl.quantity | currency}}</td>
                <td>
                    <a routerLink="/requestlines/edit/{{rl.id}}">Edit</a> |
                    <button (click)="delRequestLine(rl)" class="btn btn-link">Remove</button>
                <!--    <a (click)="delRequestLine(rl.id)" style="color:rgb(0, 121, 221);">Remove</a>
                     <a routerLink="/requestlines/remove/{{rl.id}}">Remove</a> -->
                </td>
        </tr>
   
    </table>
</div>  

