<app-menu></app-menu>
<div class="component">

    <table class="table table-sm table-striped">

       
        <tr>
            <td>Description</td>
            <td>
                <input [(ngModel)]="request.description" type="text" size="20"  disabled>
            </td>
        </tr>
        <tr>
            <td>Justification</td>
            <td>
                <input [(ngModel)]="request.justification" type="text" size="20" disabled>
            </td>
        </tr>
        <tr>
            <td>Rejection Reason</td>
            <td>
                <input [(ngModel)]="request.rejectionReason" type="text" size="20" disabled>
            </td>
        </tr>
        <tr>
            <td>Delivery Mode</td>
            <td>
                <input [(ngModel)]="request.deliveryMode" type="text" size="20" disabled>
            </td>
        </tr>
        <tr>
            <td>Status</td>
            <td>
                <input [(ngModel)]="request.status" type="text" size="20" disabled>
            </td>
        </tr>
        <tr>
            <td>Total</td>
            <td>
                <input [(ngModel)]="request.total" type="number" size="20" disabled>
            </td>
        </tr>
        <tr>
            <td>UserName:</td>
            <td>
                <input [ngModel]="request.user.username" type="text" size="20" disabled>
        </tr>
        <tr>
            <td>
                <button (click)="review()" class="btn btn-primary">Review</button> |
                <a routerLink="/requests/edit/{{request.id}}" class="btn btn-warning" >Edit</a> |
    <!--            <button routerLink="/link" (click)="edit()" class="btn btn-warning">Edit</button>|
       <tr>
            <td>
                
            </td>
        </tr>-->
        <button (click)="VerifyDelete()" class = "btn btn-danger">Delete</button>
        <button [hidden]="isHidden" (click)="delete()" class = "btn btn-danger">| Verify Delete</button>
        <a routerLink="/requests/list" >Return to list</a> |  
  <!--              <button (click)="delete()" class="btn btn-danger">Delete</button> -->
            </td>
        </tr>
    </table>

</div>
