<app-menu></app-menu>
<div class="component">
    <table class="table table-striped table-sm">

       <tr>
            <td>Product</td>
            <td>
<!--                 <input [(ngModel)]="requestLine.productId" type="number" size="5">-->
               <select [(ngModel)]="requestLine.productId">
                    <option *ngFor="let p of products" value="{{p.id}}">{{p.name}}</option>
                    <option value=""></option>
                </select> 
            </td>
        </tr> 
        <tr>
            <td>Quantity</td>
            <td>
                <input [(ngModel)]="requestLine.quantity" type="number" size="5" >
            </td>
        </tr>
        <tr>
            <td>
                <input [(ngModel)]="this.requestLine.requestId" type="text" size="10" disabled>
            </td>
        </tr>
        <tr>
            <td>
                <button (click)="save()" class="btn btn-danger">Save</button>
            </td>
        </tr>
    </table>

</div>

