<app-menu></app-menu> 
   
    <Label> Request List </Label> |
    <a routerLink="/requests/create">Create</a> |
    <input [(ngModel)] ="searchCriteria" type = "text" placeholder="Search">
    <div class="component">
        <table class="table table-sm">
            <tr>
                <th> </th>
                <th>Description</th>
                <th>Justification</th>
                <th>DeliveryMode</th>
                <th>Status</th>
                <th class="row_data">Total</th>
                <th class="row_data">User</th>
                <th> </th>
                <th>Actions</th>
            </tr>
            <tr *ngFor="let r of requests | requestSearch: searchCriteria" > 
              <!--  <div *ngif="r.userId=systemsvc.userId"> -->
                     <td> </td>
                     <td>{{r.description}}</td>
                    <td>{{r.justification}}</td>
                    <td>{{r.deliveryMode}}</td>
                    <td>{{r.status}}</td>
                    <td class="row_data">{{r.total | currency}}</td>
                    <td class="row_data">{{r.userId != null ? r.user.username: "Invalid UserId"}}</td>
                    <td> </td>
                    <td>
                        <a routerLink="/requests/detail/{{r.id}}">Detail</a> |
                        <a routerLink="/requests/edit/{{r.id}}" >Edit</a> |
                        <a (click)="displayRequestlines(r.id)" style="color:rgb(0, 121, 221);">Line</a>
                    </td>
                <!-- </div> -->
            </tr>
    
        </table>
    </div>

